$scrollbar-track-bg-color: transparent;
$scrollbar-thumb-bg-color: #757575;
$scrollbar-thumb-bg-color--hover: #9d9d9d;
$scrollbar-thumb-bg-color--active: #9d9d9d;

$selection-bg-color: #005aff;


$bg-primary: #a4d6de;
$bg-secondary: #dddddd;
$bg-tertiary: #a5a5a5;
$bg-quaternary: #0b3d45;

$bg-canvas: #f7fafb;

$color-primary: black;
$color-secondary: #a4d6de;

//CSS
:root {
    --bg-primary: #{$bg-primary};
    --bg-secondary: #{$bg-secondary};
    --bg-tertiary: #{$bg-tertiary};
    --bg-quaternary: #{$bg-quaternary};

    --bg-canvas: #{$bg-canvas};

    --color-primary: #{$color-primary};
    --color-secondary: #{$color-secondary};

    --selection-bg-color:#{$selection-bg-color};

    --scrollbar-track-bg-color:#{$scrollbar-track-bg-color};
    --scrollbar-thumb-bg-color:#{$scrollbar-thumb-bg-color};
    --scrollbar-thumb-bg-color--hover:#{$scrollbar-thumb-bg-color--hover};
    --scrollbar-thumb-bg-color--active:#{$scrollbar-thumb-bg-color--active};

}

::backdrop {
    --scrollbar-track-bg-color:#{$scrollbar-track-bg-color};

    --scrollbar-thumb-bg-color:#{$scrollbar-thumb-bg-color};
    --scrollbar-thumb-bg-color--hover:#{$scrollbar-thumb-bg-color--hover};
    --scrollbar-thumb-bg-color--active:#{$scrollbar-thumb-bg-color--active};
}