@use "../utils/" as *;

.index {
    position: relative;
    min-height: 82dvh;

    @include center-flex-column;

    &__container {

        @include center-flex-column(50px)
    }

    &.dragging>.index__overlay {
        opacity: 50%;
        z-index: 69;
    }

    &__label {
        --color: #62615b;
        --border: #d7dcde;
        --bg: #f7fafb;

        @include center-flex-column(20px);

        position: relative;

        aspect-ratio: 1/1;
        height: 300px;

        background-color: var(--bg);
        color: var(--color);

        border: 5px dashed var(--border);
        border-radius: inherit;


        transition: border .35s ease-in-out, filter .35s ease-in-out;

        &::after {

            content: "Accepts any image type: SVG, PNG, JPG, JPEG...";
            position: absolute;
            top: -20%;
            left: -10%;
            width: 120%;

            text-align: center;


        }
    }

    &__label.dragging {
        z-index: 420;
        border: 5px solid var(--border);
        filter: brightness(1.25)
    }


    &__label>svg {
        order: -1
    }

    &__canvas {
        color: inherit;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: -1
    }



    &__image-preview {
        @include center-flex-column;
        border-radius: 15px;

        min-height: 305px;
        aspect-ratio: 1/1;

        position: relative; //Relative to the canvas 
    }

    & spin-loader {
        position: absolute;
        scale: 150%;
        z-index: 69420;
    }

    &__canvas {
        z-index: -1;
        color: inherit;

        border-radius: inherit;

        position: absolute;
        @include absolute-center;

        height: 100%;
        width: 100%;

        background-color: var(--bg-canvas);
    }

    &__image {
        // @include fit-image;
        width: inherit;
        height: inherit;
    }

    &__dropzone.dragging>.index__overlay {
        opacity: 50%;
        z-index: 69;
    }

    &__overlay {
        position: fixed;
        height: 100%;
        width: 100%;
        opacity: 0%;
        background-color: black;
        z-index: -1;
    }

    &__resolution-label {}

    &__resolution-range {
        background-color: var(--bg-primary);
        border-radius: 25px;
        height: 10px;

        width: 50%;

        @include input-range-style;

        &:focus {
            outline: 2px solid currentColor;
        }
    }

    &__controls {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

    }

    &__link {
        --bg: #0b3d45;
        --color: #a4d6de;

        color: var(--color);
        background-color: var(--bg);

        &:visited {
            color: var(--color);
            background-color: var(--bg);
        }

        padding: 10px 20px;
        border-radius: 100vmax;

    }


}