@use "../utils/" as *;

.header {
    @include center-flex-column;

    &__title {
        margin-block: 25px;

        &--ascii {
            font-family: "Consolas";
        }
    }


    &__canvas {
        position: absolute;

        width: 100%;
        height: 100%;
    }

}